
/* @import url('../_common/css/base.css'); */
/* @import url('../_common/css/display.css'); */
@import url('../_common/css/display-kids.css');


#display {
  aspect-ratio: 4/3;
  /* background: #0fb; */
  margin: 4vw;
  position: relative;
  /* box-shadow: inset 0 0 0 2px; */
}

.compcard {
  border-radius: 1vw;
}

.compcard img {
  scale: 3;
  /* rotate: 139deg; */
}

.compcard p {
  translate: 0 100vw;
  font-size: 6vw;
}

.reveal .compcard img {
  /* transition: scale 800ms ease-in-out 200ms; */
  /* transition: scale 800ms cubic-bezier(0.71, 0, 0.77, 1) 200ms; */
  transition: all 2s cubic-bezier(0.6, 0, 0.5, 1);
  scale: 1;
  rotate: 0deg;
}

.reveal .compcard p {
  /* transition: all 800ms ease-out 1200ms; */
  transition: translate 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 1200ms;
  translate: 0 0;
}



#panels {
  --cols: 3;
  --rows: 3;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 2;
  display: grid;
  grid-gap: 1px;
  /* grid-template-columns: repeat(3, [col] auto); */
  /* grid-template-rows: repeat(3, [row] auto); */
  grid-template-columns: repeat( var(--cols), [col] auto);
  grid-template-rows:    repeat( var(--rows), [row] auto);
  
  /* box-shadow: inset 0 0 0 1px; */

}

.panel {
  background-color: #5b60e9;
  border-radius: 1vw;
  transition: none;
}


.panel.focus {
  background-color: #0fb;
}

.panel.hide {
  /* background: #0bf; */
  animation: flash-then-fade 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  animation-iteration-count: 3;
}


.reveal .panel {
  transition: opacity 100ms ease-out;
}

.reveal .panel {
  transition-delay: calc(var(--anim-delay) * 30ms);
}


/* .anim-stagger .panel.hide { */
.reveal .panel.hide {
  animation: none;
  opacity: 0;
}

@keyframes flash-then-fade {
  0%   { opacity: 0 }
  50%  { opacity: 1 }
  100% { opacity: 0 }
}




/* everything below this is temporary and only put here for demo */

#pic-and-panels {
  width: 60%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 4 / 3;
}


main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#deck {
  width: 100%;
}




#controls {
  font-size: 1rem;
  z-index: 100;

  position: absolute;
  top: 0;
  right: 0;

  background: #0003;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 0.5em;
  gap: 0.5em;
}


#card-chooser {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card-thumb {
  background: #fff;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  aspect-ratio: 1;
  height: 6em;
  overflow: hidden;
  border-radius: 0.5em;
}

.card-thumb:hover {
  outline: 0.5vw solid #000;
}

.card-thumb img {
  width: 3em;
  aspect-ratio: 1;
}

.card-thumb .text {
  margin: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
}

#control-buttons {
  display: flex;
  flex-direction: row;
  flex: 100% 1 1;
  gap: inherit;
  user-select: none;
}


#btn-play {
  width: 5em;
}

.running #btn-play {
  background-color: #0fb;
}

#btn-play .txt-reveal,
.running #btn-play .txt-start {
  display: none;
}
.running #btn-play .txt-reveal {
  display: block;
}