
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-vf-wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 200 1000;
}



.card {
  --flipms: 600ms;
  --shadow: #0003;

  /* flex: 28% 0 0; */
  width: 18em;

  aspect-ratio: 4/3;
  /* margin: 2%; */

  /* Remove `perspective` if you don't want the 3D effect */
  perspective: 100vw;
  /* border-radius: 2vw; */
  cursor: pointer;

  display: flex;
  flex-direction: row;

  /* animation: tempresize 10s ease-in-out infinite; */

  container-name: card;
  container-type: inline-size;
}

.card .sides {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all var(--flipms) cubic-bezier(0.42, 0.05, 0.26, 1.06);
}

.card .back,
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1em;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  

  /* box-shadow: 0 1em 1em -0.5em #0003; */
}

.card .face {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: 'Nunito';
  z-index: 10;
  /* rotate: y 180deg; */
  /* box-shadow: 0 2vw 2vw -0.5vw var(--shadow); */
  box-shadow: 0 1em 1em -0.5em var(--shadow);
  background: #fff;
  /* padding: 1vw; */
  pointer-events: none;
}

.card .face .group {
  /* padding: 0.5em 0 0 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  margin: 4cqw;
  gap: 4cqw;
  flex: 40% 0 1;


  container-name: group;
  container-type: inline-size;
}

.card .face img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.card .face p {
  margin: 0;
  font-size: 30cqw;
  line-height: 1;
  font-weight: 700;
}

.card.focus .face,
.card.focus .back,
.card:hover .face,
.card:hover .back {
  outline: 0.5vw solid #000;
}

.card.show {
  position: relative;
  z-index: 10;
}
