
@import url('./base.css');

#wrap {
  max-width: 36rem;
  padding: 2rem;
}

#btn-open-display {
  opacity: 0.4;
  /* pointer-events: none; */
}

[data-display='closed'] #btn-open-display {
  opacity: 1;
  pointer-events: all;
}

.display-is-open #btn-open-display {

  /* background: #0fb; */
}
/* 
#btn-open-display .txt-close,
.display-is-open #btn-open-display .txt-open {
  display: none;
}

.display-is-open #btn-open-display .txt-close {
  display: block;
}
 */



/* TEMP: */

#phonicslist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* width: 100%; */
  padding: 2vw;
}

#phonicslist .group {
  margin: 0 2vw;
}

#phonicslist ul {
  padding: 0;
  list-style: none;
}

#phonicslist a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

#phonicslist img {
  width: 2em;
  aspect-ratio: 1;
  object-fit: contain;
  padding: 0.25em;
}